
body{
  background-image: url("../images/blog-banner-quiz-background-revise3-1024x373.gif");
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  font-size: 40px;
  padding-left: 32%;
    padding-top: 8%;
}
.size {
margin-bottom: 20px;
}
/* .correct, .incorrect {
text-transform: capitalize;
} */
#start_button{
margin-right: 30px;
width: 400px;
height:50px;
margin: 2%;
font-size: 35px;
background-color: rgb(218, 86, 20);
}
.btnsize{
width: 450px;
height:50px;
margin: 1%;
font-size: 30px;
background-color: rgb(199,211,38);
}
.result{
 

}

